html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#pop-up {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}

.text {
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  z-index: 2;
  font-family: "Rock Salt", cursive;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 826px) {
  #quadrato {
    height: 46vh;
    width: 46vh;
  }

  .text {
    font-size: 2rem;
    padding: 1rem;
  }

  #try-again-button {
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
    border-radius: 20%;
    font-family: "Rock Salt", cursive;
  }
}
